*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #011808;
    display: flex;
    height: 100vh;
  }
  
  /*Navigation styling*/
  .navbar {
      letter-spacing: 5px;
      color: #011808;
      background-color: #93f8b4;
  }
    
  .navbar-nav li a:hover {
      color: #25ad3c !important;
  }
  /*Main content styling*/
  .main-content{
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  /*Card for categories styling*/
  .card{
    width: 16rem;
  }
  .card img{
    width: 16rem;
    height: 12rem;
  }
  /*dropdown styling*/
  .dropdown{
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  /* Memory game card styling*/
  .flip-board{
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

  .game-card{
     width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 1px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

  .game-cards:active{
    transform: scale(.95);
    transition: transform .2s;
}

.game-cards.flip{
    transform: rotateY(180deg);
}
.front-face,
.back-face{
    width: 80%;
    height: 80%;
    padding: 1px;
    position: absolute;
    border-radius: 5px;
	background-color: green;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

/*progress bar styling*/
#myProgress{
  width: 50%;
  background-color: grey;
}

#myBar{
  width: 1%;
  height: 30px;
  background-color: #25ad3c;
}