*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-image: radial-gradient(rgb(105, 160, 105) 2%, white 87%, rgb(240, 200, 200) 1%);
    color: #011808;
  }
  
  /*Navigation styling*/
  .navbar {
      letter-spacing: 5px;
      color: #011808;
  }
    
  .navbar-nav li a:hover {
      color: green;
  }
  /*Main content styling*/
  .main-content{
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  /*Card for categories styling*/
  .card{
    width: 16rem;
  }
  .card img{
    width: 15rem;
    height: 12rem;
  }
  
  /* Memory game card styling*/
  .front-face, .back-face {
    width: 8rem;
    height: 12rem;
    }

/*progress bar styling*/
.progress{
  height: 20px !important;
  width: 50% !important;
  background-color: white;
}

.progress-bar{
  width: 0%;
  height: 20px;
  background-color: green !important;
}